<div class='login_form'>
<form class="login" action="/new_game" method="post">
	<input class="login" type="text" name="player1" placeholder="Player 1">
	<br>
	<input class="login" type="text" name="player2" placeholder="Player 2">
	<br>
	<input class="login" type="submit" value="PLAY!">
</form>
</div>