<div class='rules'>

<h4>Object:</h4>
<ul>
<li>Be the first player to have your color number tiles add up to 7—in a
straight line—either vertically, horizontally or diagonally!</li>
</ul>
<h4>Playing:</h4>
<ul>
<li>On your turn choose a number above the column you'd like to place your tile. Clicking "Play" will insert your tile in the corresponding column. "3's" can only be placed in the red boxes.</li>
<li>For 2 players</li>
<li>Ages 7 to adult</li>
</ul>
<a href="/game">Back to the game!</a>
</div>